/*************** FORM ***************/

.form {
    margin: 20px 0px;

    &__control {
        background: none;
        color: $color-text;
        font-size: 0.7rem;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        padding: 7px 0px;
        border: 2px solid $color-button-outline;
        border-radius: 4px;
        margin: 5px 0;

        &:nth-child(1) {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
    
        &::placeholder {
            color: $color-text;  
            opacity: 1;            
        }

        &:focus {
            border: 2px solid $color-button;
        }
        
        &:focus::placeholder {
            color: transparent;
        }
    }

    &__section {    
        width: 100%;
        position: relative;
    
        &:after {
            content: "▼";
            padding: 10px 10px;
            position: absolute;
            right: -10px;
            top: 0;
            z-index: 1;
            text-align: center;            
            transform: scale(0.7);
            pointer-events: none;
        }
    }

    &__select {
        background: none;
        color: $color-text;
        font-size: 0.7rem;
        text-transform: uppercase;
        text-align-last:center;
        width: 100%;
        padding: 5px 0;
        border: 2px solid $color-button-outline;
        border-radius: 4px;
        margin: 5px 0;    
        cursor:pointer; 
        -webkit-appearance: none;
        /* for webkit browsers */
        -moz-appearance: none;
        /* for firefox */
        appearance: none;
        /* for modern browsers */

        &::-ms-expand {
            display: none;
          }  

        & option {
            color: $color-first;
        }

    }

    
    
}