/************************************************************/
/************* small tablet styles, iPad, Kindle  ***********/
/************************************************************/

@media screen and (min-width: 768px) {    
    
    .content {        
        display: flex;
        padding: 0 25px; 

        &__form {
            width: 40%;
            padding-left: 25px;
        }

        &__img {
            width: 60%;            
            margin-bottom: -3px;
        }
    }

    .social {
        &__grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;

            &--img {
                width: 64%;
            }
        }
    }
    

    .footer {            
        &__note {
            font-size: 0.5rem;
            padding-left: 200px;   
        }
    }
}


/************************************************************/
/*************** large tablets & laptop styles  *************/
/************************************************************/

@media screen and (min-width: 960px) {
        
    .content {        
        display: flex;
        padding: 0 25px; 

        &__form {
            width: 50%;
            padding-left: 25px;
        }

        &__img {
            width: 50%;
            vertical-align: bottom;
        }
    }

    .social {
        &__grid {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            justify-items: center;

            &--img {
                max-width: 64%;
            }
        }
    }

    .footer {            
        &__note {
            font-size: 0.5rem;
            padding-left: 200px;   
        }
    }

    .submit {            
        &--joinus {            
            font-size: 1.5rem;
        }
    }

    .form__checkbox {        
        font-size: 0.7rem;
    }

    .form {            
        &__control {
            padding: 15px 0px;    
                  
            &::placeholder {
                font-size: 0.8rem;            
            }
        } 

        &__section {
            &:after {                
                padding-top: 23px;                
                right: 0px;           
                transform: scale(1);                
            }
        }
        
        &__select {
            padding: 15px 0px;
            font-size: 0.8rem;
        }
    }  

    .btn {
        &--nav {
            padding: 7px 16px;
            background: none;    
            font-size: 0.9rem;
            border: 2px solid $color-button-outline;
            border-radius: 30px;
            color: $color-text;
    
            &:hover {
                background-color: $color-button;
                color: $color-text;
            }    
        }
    
    }
    
}


/************************************************************/
/********************** desktop styles  *********************/
/************************************************************/

@media screen and (min-width: 1200px) {
    .header, .content, .social__grid, .footer {
        margin: 0 auto;
        max-width: 1200px;
    }

    .content {        
        display: flex;
        padding: 0 25px; 

        &__form {
            width: 40%;
            padding-left: 25px;
            padding-top: 60px;

            &-title {
                font-size: 2.5rem;
            }
    
            &-subtitle {
                font-size: 1rem;
            }
        }

        &__img {
            width: 60%;
            vertical-align: bottom;
        }
    }
    
    .form {            
        &__control {
            padding: 15px 0px;    
                  
            &::placeholder {
                font-size: 1rem;            
            }
        } 

        &__section {
            &:after {                
                padding-top: 27px;                
                right: 0px;
                top: 10;                
                scale: 1.2;                
            }
        }
        
        &__select {
            padding: 20px 0px;
            font-size: 1rem;
        }
    } 

    .submit {            
        &--joinus {            
            font-size: 2rem;
        }
    }


    .social {
        background: $color-secondary;
        text-align: center;
        padding: 20px;
    
        &__title {            
            font-size: 1rem;
        }
    
        &__grid {            
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            padding: 30px;
        }
    }

    .footer {            
        &__note {
            font-size: 0.6rem;
            padding-left: 250px;   
        }
    }
   
}
